# Lets not upload any data, only scripts


# 1. Ignore EVERYTHING
*

# 2. Allow Git to look inside all directories (CRITICAL)
!*/

# 2.1 but not these directories
*marker_genes/

# 3. Un-ignore specific file types
!*.py
!*.ipynb
!*.R
!*.qmd
!*.md
!*.html

# 4. Always un-ignore the config files
!.gitignore
!README.md
